<?xml version="1.0" encoding="utf-8" ?>
<REST_SampleCode>
  <Category>
    <name>图片图层</name>
    <style>TiledLayer</style>
    <items>
      <item>
        <id>分块动态图层</id>
        <imageItemsPath>Images/TiledDynamicRestLayer.png</imageItemsPath>
        <imageGroupsPath>Images/TDRESTLayerGroup.png</imageGroupsPath>
        <xaml>REST_SampleCode.TiledDynamicRESTLayerTest</xaml>
        <source>Source/TiledDynamicRESTLayerTest.xaml.txt</source>
        <code>Source/TiledDynamicRESTLayerTest.xaml.cs.txt</code>
        <explain>Explain/TiledDynamicRESTLayerTest.ex.txt</explain>
      </item>
      <item>
        <id>分块动态WMS图层</id>
        <imageItemsPath>Images/WMS250.png</imageItemsPath>
        <imageGroupsPath>Images/WMS105.png</imageGroupsPath>
        <xaml>REST_SampleCode.TDWMSLayer</xaml>
        <source>Source/TDWMSLayer.xaml.txt</source>
        <code>Source/TDWMSLayer.xaml.cs.txt</code>
        <explain>Explain/TDWMSLayer.ex.txt</explain>
      </item>
      <item>
        <id>分块WMTS图层</id>
        <imageItemsPath>Images/WMTS250.png</imageItemsPath>
        <imageGroupsPath>Images/WMTS105.png</imageGroupsPath>
        <xaml>REST_SampleCode.TiledWMTSLayerTest</xaml>
        <source>Source/TiledWMTSLayerTest.xaml.txt</source>
        <code>Source/TiledWMTSLayerTest.xaml.cs.txt</code>
        <explain>Explain/TiledWMTSLayerTest.ex.txt</explain>
      </item>
      <item>
        <id>动态图层</id>
        <imageItemsPath>Images/TiledDynamicRestLayer.png</imageItemsPath>
        <imageGroupsPath>Images/TDRESTLayerGroup.png</imageGroupsPath>
        <xaml>REST_SampleCode.DynamicRESTLayerTest</xaml>
        <source>Source/DynamicRESTLayerTest.xaml.txt</source>
        <code>Source/DynamicRESTLayerTest.xaml.cs.txt</code>
        <explain>Explain/DynamicRESTLayerTest.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>要素图层</name>
    <style>FeaturesLayer</style>
    <items>
      <item>
        <id>通过代码添加要素</id>
        <imageItemsPath>Images/feature250.png</imageItemsPath>
        <imageGroupsPath>Images/feature105.png</imageGroupsPath>
        <xaml>REST_SampleCode.AddByCode</xaml>
        <source>Source/AddByCode.xaml.txt</source>
        <code>Source/AddByCode.xaml.cs.txt</code>
        <explain>Explain/AddByCode.ex.txt</explain>
      </item>
      <item>
        <id>客户端专题图</id>
        <imageItemsPath>Images/iClient250.png</imageItemsPath>
        <imageGroupsPath>Images/iClient105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RendererTest</xaml>
        <source>Source/RendererTest.xaml.txt</source>
        <code>Source/RendererTest.xaml.cs.txt</code>
        <explain>Explain/RendererTest.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>元素图层</name>
    <style>ElementsLayer</style>
    <items>
      <item>
        <id>通过代码添加元素</id>
        <imageItemsPath>Images/code250.png</imageItemsPath>
        <imageGroupsPath>Images/code105.png</imageGroupsPath>
        <xaml>REST_SampleCode.Code</xaml>
        <source>Source/Code.xaml.txt</source>
        <code>Source/Code.xaml.cs.txt</code>
        <explain>Explain/Code.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>地图操作</name>
    <style>MapOperation</style>
    <items>
      <item>
        <id>地图操作</id>
        <imageItemsPath>Images/map250X250.png</imageItemsPath>
        <imageGroupsPath>Images/map105X105.png</imageGroupsPath>
        <xaml>REST_SampleCode.UIActionsInElementsLayer</xaml>
        <source>Source/UIActionsInElementsLayer.xaml.txt</source>
        <code>Source/UIActionsInElementsLayer.xaml.cs.txt</code>
        <explain>Explain/UIActionsInElementsLayer.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>地图控件</name>
    <style>MapControl</style>
    <items>
      <item>
        <id>罗盘和缩放条控件</id>
        <imageItemsPath>Images/Navigation250.png</imageItemsPath>
        <imageGroupsPath>Images/Navigation105.png</imageGroupsPath>
        <xaml>REST_SampleCode.Navigation</xaml>
        <source>Source/Navigation.xaml.txt</source>
        <code>Source/Navigation.xaml.cs.txt</code>
        <explain>Explain/Navigation.ex.txt</explain>
      </item>
      <item>
        <id>鹰眼控件</id>
        <imageItemsPath>Images/OverViewMap250.png</imageItemsPath>
        <imageGroupsPath>Images/OverViewMap105.png</imageGroupsPath>
        <xaml>REST_SampleCode.OverViewMap</xaml>
        <source>Source/OverViewMap.xaml.txt</source>
        <code>Source/OverViewMap.xaml.cs.txt</code>
        <explain>Explain/OverViewMap.ex.txt</explain>
      </item>
      <item>
        <id>比例尺控件</id>
        <imageItemsPath>Images/ScaleBar250.png</imageItemsPath>
        <imageGroupsPath>Images/ScaleBar105.png</imageGroupsPath>
        <xaml>REST_SampleCode.ScaleBar</xaml>
        <source>Source/ScaleBar.xaml.txt</source>
        <code>Source/ScaleBar.xaml.cs.txt</code>
        <explain>Explain/ScaleBar.ex.txt</explain>
      </item>
      <item>
        <id>前后视图控件</id>
        <imageItemsPath>Images/MapHistroyControl250.png</imageItemsPath>
        <imageGroupsPath>Images/MapHistroyControl105.png</imageGroupsPath>
        <xaml>REST_SampleCode.MapHistroyControl</xaml>
        <source>Source/MapHistroyControl.xaml.txt</source>
        <code>Source/MapHistroyControl.xaml.cs.txt</code>
        <explain>Explain/MapHistroyControl.ex.txt</explain>
      </item>
      <item>
        <id>GeoRSS和InfoWindow</id>
        <imageItemsPath>Images/GeoRSS250.png</imageItemsPath>
        <imageGroupsPath>Images/GeoRSS105.png</imageGroupsPath>
        <xaml>REST_SampleCode.GeoRSS</xaml>
        <source>Source/GeoRSS.xaml.txt</source>
        <code>Source/GeoRSS.xaml.cs.txt</code>
        <explain>Explain/GeoRSS.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>量算</name>
    <style>MapLenthArea</style>
    <items>
      <item>
        <id>量算</id>
        <imageItemsPath>Images/measure250.png</imageItemsPath>
        <imageGroupsPath>Images/measure105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTMeasureTest</xaml>
        <source>Source/RESTMeasureTest.xaml.txt</source>
        <code>Source/RESTMeasureTest.xaml.cs.txt</code>
        <explain>Explain/RESTMeasureTest.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>地图查询</name>
    <style>MapQuery</style>
    <items>
      <item>
        <id>SQL查询</id>
        <imageItemsPath>Images/RESTSQL250.png</imageItemsPath>
        <imageGroupsPath>Images/RESTSQL105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTSQLQueryTest</xaml>
        <source>Source/RESTSQLQueryTest.xaml.txt</source>
        <code>Source/RESTSQLQueryTest.xaml.cs.txt</code>
        <explain>Explain/RESTSQLQueryTest.ex.txt</explain>
      </item>
      <item>
        <id>距离查询</id>
        <imageItemsPath>Images/RESTDistance250.png</imageItemsPath>
        <imageGroupsPath>Images/RESTDistance105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTDistanceQueryTest</xaml>
        <source>Source/RESTDistanceQueryTest.xaml.txt</source>
        <code>Source/RESTDistanceQueryTest.xaml.cs.txt</code>
        <explain>Explain/RESTDistanceQueryTest.ex.txt</explain>
      </item>
      <item>
        <id>几何查询</id>
        <imageItemsPath>Images/RESTGeometry250.png</imageItemsPath>
        <imageGroupsPath>Images/RESTGeometry105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTGeometryQueryTest</xaml>
        <source>Source/RESTGeometryQueryTest.xaml.txt</source>
        <code>Source/RESTGeometryQueryTest.xaml.cs.txt</code>
        <explain>Explain/RESTGeometryQueryTest.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>数据集查询</name>
    <style>DataQuery</style>
    <items>
      <item>
        <id>数据集SQL查询</id>
        <imageItemsPath>Images/GetFeaturesBySQL250.png</imageItemsPath>
        <imageGroupsPath>Images/GetFeaturesBySQL105.png</imageGroupsPath>
        <xaml>REST_SampleCode.GetFeaturesBySQLTest</xaml>
        <source>Source/GetFeaturesBySQLTest.xaml.txt</source>
        <code>Source/GetFeaturesBySQLTest.xaml.cs.txt</code>
        <explain>Explain/GetFeaturesBySQLTest.ex.txt</explain>
      </item>
      <item>
        <id>数据集ID查询</id>
        <imageItemsPath>Images/GetFeaturesByID250.png</imageItemsPath>
        <imageGroupsPath>Images/GetFeaturesByID105.png</imageGroupsPath>
        <xaml>REST_SampleCode.GetFeaturesByIDsTest</xaml>
        <source>Source/GetFeaturesByIDsTest.xaml.txt</source>
        <code>Source/GetFeaturesByIDsTest.xaml.cs.txt</code>
        <explain>Explain/GetFeaturesByIDsTest.ex.txt</explain>
      </item>
      <item>
        <id>数据集几何查询</id>
        <imageItemsPath>Images/GetFeaturesByGeometry250.png</imageItemsPath>
        <imageGroupsPath>Images/GetFeaturesByGeometry105.png</imageGroupsPath>
        <xaml>REST_SampleCode.GetFeaturesByGeometryTest</xaml>
        <source>Source/GetFeaturesByGeometryTest.xaml.txt</source>
        <code>Source/GetFeaturesByGeometryTest.xaml.cs.txt</code>
        <explain>Explain/GetFeaturesByGeometryTest.ex.txt</explain>
      </item>
      <item>
        <id>数据集缓冲查询</id>
        <imageItemsPath>Images/GetFeaturesByBuffer250.png</imageItemsPath>
        <imageGroupsPath>Images/GetFeaturesByBuffer105.png</imageGroupsPath>
        <xaml>REST_SampleCode.GetFeaturesByBufferTest</xaml>
        <source>Source/GetFeaturesByBufferTest.xaml.txt</source>
        <code>Source/GetFeaturesByBufferTest.xaml.cs.txt</code>
        <explain>Explain/GetFeaturesByBufferTest.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>网络分析 </name>
    <style>NetWorkAnalysis</style>
    <items>
      <item>
        <id>最佳路径分析</id>
        <imageItemsPath>Images/network250.png</imageItemsPath>
        <imageGroupsPath>Images/network105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTFindPath</xaml>
        <source>Source/RESTFindPath.xaml.txt</source>
        <code>Source/RESTFindPath.xaml.cs.txt</code>
        <explain>Explain/RESTFindPath.ex.txt</explain>
      </item>
      <item>
        <id>服务区分析</id>
        <imageItemsPath>Images/ServiceArea250.png</imageItemsPath>
        <imageGroupsPath>Images/ServiceArea105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTServiceArea</xaml>
        <source>Source/RESTServiceArea.xaml.txt</source>
        <code>Source/RESTServiceArea.xaml.cs.txt</code>
        <explain>Explain/RESTServiceArea.ex.txt</explain>
      </item>
      <item>
        <id>最近设施查找</id>
        <imageItemsPath>Images/findPath250.png</imageItemsPath>
        <imageGroupsPath>Images/findPath105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTClosestFacility</xaml>
        <source>Source/RESTClosestFacility.xaml.txt</source>
        <code>Source/RESTClosestFacility.xaml.cs.txt</code>
        <explain>Explain/RESTClosestFacility.ex.txt</explain>
      </item>
      <item>
        <id>旅行商分析</id>
        <imageItemsPath>Images/FindTSPPath250.png</imageItemsPath>
        <imageGroupsPath>Images/FindTSPPath105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTFindTSPPath</xaml>
        <source>Source/RESTFindTSPPath.xaml.txt</source>
        <code>Source/RESTFindTSPPath.xaml.cs.txt</code>
        <explain>Explain/RESTFindTSPPath.ex.txt</explain>
      </item>
      <item>
        <id>多旅行商分析</id>
        <imageItemsPath>Images/findFTP250.png</imageItemsPath>
        <imageGroupsPath>Images/findFTP105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTFindMTSPPath</xaml>
        <source>Source/RESTFindMTSPPath.xaml.txt</source>
        <code>Source/RESTFindMTSPPath.xaml.cs.txt</code>
        <explain>Explain/RESTFindMTSPPath.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>专题图</name>
    <style>ThemeLayer</style>
    <items>
      <item>
        <id>单值专题图</id>
        <imageItemsPath>Images/themeUnique250.png</imageItemsPath>
        <imageGroupsPath>Images/themeUnique105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTThemeUnique</xaml>
        <source>Source/RESTThemeUnique.xaml.txt</source>
        <code>Source/RESTThemeUnique.xaml.cs.txt</code>
        <explain>Explain/RESTThemeUnique.ex.txt</explain>
      </item>
      <item>
        <id>范围分段专题图</id>
        <imageItemsPath>Images/themeRange250.png</imageItemsPath>
        <imageGroupsPath>Images/themeRange105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTThemeRange</xaml>
        <source>Source/RESTThemeRange.xaml.txt</source>
        <code>Source/RESTThemeRange.xaml.cs.txt</code>
        <explain>Explain/RESTThemeRange.ex.txt</explain>
      </item>
      <item>
        <id>标签专题图</id>
        <imageItemsPath>Images/themelable250.png</imageItemsPath>
        <imageGroupsPath>Images/themelable105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTThemeLabel</xaml>
        <source>Source/RESTThemeLabel.xaml.txt</source>
        <code>Source/RESTThemeLabel.xaml.cs.txt</code>
        <explain>Explain/RESTThemeLabel.ex.txt</explain>
      </item>
      <item>
        <id>点密度专题图</id>
        <imageItemsPath>Images/themeDotDensity250.png</imageItemsPath>
        <imageGroupsPath>Images/themeDotDensity105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTThemeDotDensity</xaml>
        <source>Source/RESTThemeDotDensity.xaml.txt</source>
        <code>Source/RESTThemeDotDensity.xaml.cs.txt</code>
        <explain>Explain/RESTThemeDotDensity.ex.txt</explain>
      </item>
      <item>
        <id>等级符号专题图</id>
        <imageItemsPath>Images/themegraduate250.png</imageItemsPath>
        <imageGroupsPath>Images/themegraduate105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTThemeGraduatedSymbol</xaml>
        <source>Source/RESTThemeGraduatedSymbol.xaml.txt</source>
        <code>Source/RESTThemeGraduatedSymbol.xaml.cs.txt</code>
        <explain>Explain/RESTThemeGraduatedSymbol.ex.txt</explain>
      </item>
      <item>
        <id>复合专题图</id>
        <imageItemsPath>Images/ThemeComposite250.png</imageItemsPath>
        <imageGroupsPath>Images/ThemeComposite105.png</imageGroupsPath>
        <xaml>REST_SampleCode.RESTThemeComposite</xaml>
        <source>Source/RESTThemeComposite.xaml.txt</source>
        <code>Source/RESTThemeComposite.xaml.cs.txt</code>
        <explain>Explain/RESTThemeComposite.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>空间分析</name>
    <style>SpatialAnalysis</style>
    <items>
      <item>
        <id>缓冲区分析</id>
        <imageItemsPath>Images/buffer250.png</imageItemsPath>
        <imageGroupsPath>Images/buffer105.png</imageGroupsPath>
        <xaml>REST_SampleCode.BufferAnalyst</xaml>
        <source>Source/BufferAnalyst.xaml.txt</source>
        <code>Source/BufferAnalyst.xaml.cs.txt</code>
        <explain>Explain/BufferAnalyst.ex.txt</explain>
      </item>
      <item>
        <id>叠加分析</id>
        <imageItemsPath>Images/overlay250.png</imageItemsPath>
        <imageGroupsPath>Images/overlay105.png</imageGroupsPath>
        <xaml>REST_SampleCode.OverlayAnalyst</xaml>
        <source>Source/OverlayAnalyst.xaml.txt</source>
        <code>Source/OverlayAnalyst.xaml.cs.txt</code>
        <explain>Explain/OverlayAnalyst.ex.txt</explain>
      </item>
      <item>
        <id>表面分析</id>
        <imageItemsPath>Images/surface250.png</imageItemsPath>
        <imageGroupsPath>Images/surface105.png</imageGroupsPath>
        <xaml>REST_SampleCode.SurfaceAnalyst</xaml>
        <source>Source/SurfaceAnalyst.xaml.txt</source>
        <code>Source/SurfaceAnalyst.xaml.cs.txt</code>
        <explain>Explain/SurfaceAnalyst.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>子图层控制 </name>
    <style>SubLayerControl</style>
    <items>
      <item>
        <id>子图层可见性控制</id>
        <imageItemsPath>Images/SetLayerStatus250.png</imageItemsPath>
        <imageGroupsPath>Images/SetLayerStatus105.png</imageGroupsPath>
        <xaml>REST_SampleCode.SetLayerStatusTest</xaml>
        <source>Source/SetLayerStatusTest.xaml.txt</source>
        <code>Source/SetLayerStatusTest.xaml.cs.txt</code>
        <explain>Explain/SetLayerStatusTest.ex.txt</explain>
      </item>
    </items>
  </Category>
  <Category>
    <name>扩展示例</name>
    <style>ExtentExample</style>
    <items>
      <item>
        <id>自定义点风格</id>
        <imageItemsPath>Images/customMarker250.png</imageItemsPath>
        <imageGroupsPath>Images/customMarker105.png</imageGroupsPath>
        <xaml>REST_SampleCode.CustomMarkerStyle</xaml>
        <source>Source/CustomMarkerStyle.xaml.txt</source>
        <code>Source/CustomMarkerStyle.xaml.cs.txt</code>
        <explain>Explain/CustomMarkerStyle.ex.txt</explain>
      </item>
      <item>
        <id>自定义线风格</id>
        <imageItemsPath>Images/customLine250.png</imageItemsPath>
        <imageGroupsPath>Images/customLine105.png</imageGroupsPath>
        <xaml>REST_SampleCode.CustomLineStyle</xaml>
        <source>Source/CustomLineStyle.xaml.txt</source>
        <code>Source/CustomLineStyle.xaml.cs.txt</code>
        <explain>Explain/CustomLineStyle.ex.txt</explain>
      </item>
      <item>
        <id>自定义面风格</id>
        <imageItemsPath>Images/customFill250.png</imageItemsPath>
        <imageGroupsPath>Images/customFill105.png</imageGroupsPath>
        <xaml>REST_SampleCode.CustomFillStyle</xaml>
        <source>Source/CustomFillStyle.xaml.txt</source>
        <code>Source/CustomFillStyle.xaml.cs.txt</code>
        <explain>Explain/CustomFillStyle.ex.txt</explain>
      </item>
      <item>
        <id>GeoCircle</id>
        <imageItemsPath>Images/GeoCircle250.png</imageItemsPath>
        <imageGroupsPath>Images/GeoCircle105.png</imageGroupsPath>
        <xaml>REST_SampleCode.CustomGeoCircle</xaml>
        <source>Source/CustomGeoCircle.xaml.txt</source>
        <code>Source/CustomGeoCircle.xaml.cs.txt</code>
        <explain>Explain/CustomGeoCircle.ex.txt</explain>
      </item>
      <item>
        <id>GeoRectangle</id>
        <imageItemsPath>Images/GeoRectangle250.png</imageItemsPath>
        <imageGroupsPath>Images/GeoRectangle105.png</imageGroupsPath>
        <xaml>REST_SampleCode.CustomGeoRectangle</xaml>
        <source>Source/CustomGeoRectangle.xaml.txt</source>
        <code>Source/CustomGeoRectangle.xaml.cs.txt</code>
        <explain>Explain/CustomGeoRectangle.ex.txt</explain>
      </item>
      <item>
        <id>DrawStar</id>
        <imageItemsPath>Images/DrawStar250.png</imageItemsPath>
        <imageGroupsPath>Images/DrawStar105.png</imageGroupsPath>
        <xaml>REST_SampleCode.CustomDrawStar</xaml>
        <source>Source/CustomDrawStar.xaml.txt</source>
        <code>Source/CustomDrawStar.xaml.cs.txt</code>
        <explain>Explain/CustomDrawStar.ex.txt</explain>
      </item>
      <item>
        <id>客户端量算</id>
        <imageItemsPath>Images/iClientMeasure250.png</imageItemsPath>
        <imageGroupsPath>Images/iClientMeasure105.png</imageGroupsPath>
        <xaml>REST_SampleCode.CustomClientMeasure</xaml>
        <source>Source/CustomClientMeasure.xaml.txt</source>
        <code>Source/CustomClientMeasure.xaml.cs.txt</code>
        <explain>Explain/CustomClientMeasure.ex.txt</explain>
      </item>
      <item>
        <id>数据绑定</id>
        <imageItemsPath>Images/DataBinding250.png</imageItemsPath>
        <imageGroupsPath>Images/DataBinding105.png</imageGroupsPath>
        <xaml>REST_SampleCode.DataBinding</xaml>
        <source>Source/DataBinding.xaml.txt</source>
        <code>Source/DataBinding.xaml.cs.txt</code>
        <explain>Explain/DataBinding.ex.txt</explain>
      </item>
      <item>
        <id>点域判断</id>
        <imageItemsPath>Images/inRegionCheck250.png</imageItemsPath>
        <imageGroupsPath>Images/inRegionCheck105.png</imageGroupsPath>
        <xaml>REST_SampleCode.InRegionCheck</xaml>
        <source>Source/InRegionCheck.xaml.txt</source>
        <code>Source/InRegionCheck.xaml.cs.txt</code>
        <explain>Explain/InRegionCheck.ex.txt</explain>
      </item>-->
      <item>
        <id>加载OpenStreetMap地图</id>
        <imageItemsPath>Images/OpenStreetMap250.png</imageItemsPath>
        <imageGroupsPath>Images/OpenStreetMap105.png</imageGroupsPath>
        <xaml>REST_SampleCode.OpenStreetMapTest</xaml>
        <source>Source/OpenStreetMapTest.xaml.txt</source>
        <code>Source/OpenStreetMapTest.xaml.cs.txt</code>
        <explain>Explain/OpenStreetMapTest.ex.txt</explain>
      </item>
      <item>
        <id>加载BingMap地图</id>
        <imageItemsPath>Images/BingMap250.png</imageItemsPath>
        <imageGroupsPath>Images/BingMap105.png</imageGroupsPath>
        <xaml>REST_SampleCode.BingMapTest</xaml>
        <source>Source/BingMapTest.xaml.txt</source>
        <code>Source/BingMapTest.xaml.cs.txt</code>
        <explain>Explain/BingMapTest.ex.txt</explain>
      </item>
      <item>
        <id>加载天地图</id>
        <imageItemsPath>Images/TDTMap250.png</imageItemsPath>
        <imageGroupsPath>Images/TDTMap105.png</imageGroupsPath>
        <xaml>REST_SampleCode.TDTMapTest</xaml>
        <source>Source/TDTMapTest.xaml.txt</source>
        <code>Source/TDTMapTest.xaml.cs.txt</code>
        <explain>Explain/TDTMapTest.ex.txt</explain>
      </item>
    </items>
  </Category>
</REST_SampleCode>
